*{
    border-radius: 15px;
    font-family: "Oswald", sans-serif;
    text-align: justify;
}
body{
    margin: 0;
    background-color: black;
}
#chatHistory{
    /* background-color: red; */
    width: 90%;
    height: 100%;
    
}
main{
    width: 100dvw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#motherDiv{
    border: 1px white solid;
    width: 80dvw;
    color: greenyellow;
}
#inputsAndButtons{
    display: flex;
    justify-content: center;
    input{
        width: 80%;
        height: 5dvh;
    }
    button{
        width: 20%;
        /* background-color: black; */
        /* color: limegreen; */
    }
}
#chatHistoryContainer{
    display: flex;
    justify-content: center;
}